
@{
    ViewData["Title"] = "SuccessCreate";
}

    <div style="vertical-align:central">
        <strong style="text-decoration-color:black">New task successfully added!</strong>

    </div>


    @*<div>
        <button onclick="goBack()">Go Back</button>

        <script>
            function goBack() {

                window.history.goBack();
            }
        </script>
    </div>*@
